node_modules
dist
coverage
.DS_Store
*.log
.symgrep/
.codemap/
npm-debug.log*
pnpm-lock.yaml
*.tsbuildinfo
packages/web-client/public/client.js
packages/web-client/public/client.js.map
packages/web-client/public/plugins/**/bundle.js
packages/web-client/public/plugins/**/bundle.js.map
packages/web-client/public/plugins/**/styles.css
packages/agent-server/index.map.json
packages/agent-server/data/*
!packages/agent-server/data/config.json
packages/android-client/app/build
packages/push-cli/firebase-sa.json
packages/mobile-web/google-services.json
